<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dpwn.smartscanus">


    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="com.dpwn.smartscanus.main.App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/ic_dhl_logo"
        android:theme="@style/AppTheme"
        android:supportsRtl="false"
        android:launchMode="singleTask"
        android:clearTaskOnLaunch="true"
        tools:ignore="UnusedAttribute"
        android:allowBackup="true">

        <meta-data android:name="net.hockeyapp.android.appIdentifier" android:value="${HOCKEYAPP_APP_ID}" />

        <activity
            android:name="com.dpwn.smartscanus.main.ui.SplashActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dpwn.smartscanus.kiosk.FakeHome"
            android:enabled="false"/>

        <activity
            android:name="com.dpwn.smartscanus.main.ui.MainActivity"
            android:logo="@drawable/ic_dhl_logo"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"/>

        <activity
            android:name="com.dpwn.smartscanus.bluetooth.DeviceListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/select_device"
            android:theme="@style/AppTheme.Dialog" />

        <receiver android:name="com.dpwn.smartscanus.bluetooth.BluetoothReceiver">
            <intent-filter>
                <action android:name="android.bluetooth.device.action.ACL_CONNECTED" />
                <action android:name="android.bluetooth.device.action.ACL_DISCONNECTED" />
            </intent-filter>
        </receiver>


    </application>

</manifest>
